:root {
  --ff-Primary: "Heebo", sans-serif;

  --fw-ExtraLight200: 200;
  --fw-Regular400: 400;
  --fw-SemiBold600: 600;
  --fw-ExtraBold800: 800;

  --fs-ExtraSmall: 0.7rem;
  --fs-Small: 0.9rem;
  --fs-Big: 1.6rem;

  --clr-Primary: black;
  --clr-Secondary: white;
  --clr-Topic: #071192;
  --clr-Text: #2c2c2c;
}

* {
  font-family: var(--ff-Primary);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url(img/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.contactBox {
  position: absolute;
  padding: 25px 50px;
  top: 15%;
  right: 10%;
  width: 280px;
  min-height: 380px;
  background-color: #eeeeeed1;
}

h1 {
  font-size: var(--fs-Big);
  color: var(--clr-Topic);
}

p {
  font-size: var(--fs-Small);
  color: var(--clr-Text);
  margin-bottom: 2rem;
}

label {
  display: block;
  font-size: var(--fs-ExtraSmall);
  font-weight: var(--fw-SemiBold600);
  margin-top: 0.5rem;
}

input {
  background-color: var(--clr-Secondary);
  border: none;
  border-bottom: 2px solid var(--clr-Topic);
  width: 100%;
  height: 25px;
}

input:focus {
  outline: none !important;
}

button {
  display: block;
  background-color: var(--clr-Topic);
  color: var(--clr-Secondary);
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  padding: 0.3rem 1.6rem;
}

button:disabled {
  opacity: 0.6;
}
.confirmation-message {
  display: none;
  font-weight: var(--fw-SemiBold600);
  color: var(--clr-Topic);
}

/* ////////////////media query////////////////// */

@media (max-width: 450px) {
  .contactBox {
    top: 10%;
    right: 5%;
    text-align: center;
    padding: 0 1rem;
    width: 80%;
    height: 60%;
  }

  input {
    width: 80%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 80%;
  }
}
